@{
    ViewData["Title"] = "Resume";
}



<main id="main">

    <!-- ======= Blog Single ======= -->
    <div class="main-content paddsection">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="container-main single-main">
                            <div class="col-md-12">
                                <div class="block-main mb-30">
                                    <img src="~/assets/img/resumetop.png" class="img-responsive" alt="reviews2">
                                    <div class="content-main single-post padDiv">
                                        <div class="journal-txt">
                                            <h4><a href="#">FULL STACK DEVELOPER</a></h4>
                                        </div>
                                        <div class="post-meta">
                                            <ul class="list-unstyled mb-0">
                                            </ul>
                                        </div>
                                        <blockquote>TECHNICAL AND PROFESSIONAL SKILLS</blockquote>
                                        <div class="entry-comments">
                                            <ul class="entry-comments-list list-unstyled">
                                                <li>
                                                    <div class="entry-comments-item">
                                                        <img src="~/assets/img/frontend.png" class="entry-comments-avatar" alt="">
                                                        <div class="entry-comments-body">
                                                            <span class="entry-comments-author">Front End: </span>
                                                            <p class="mb-10">
                                                                <button class="btn btn-outline-dark m-2"><Strong>HTML5</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>JavaScript</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>jQuery</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>CSS3</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>Bootstrap</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>ReactJS</Strong></button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <ul class="entry-comments-list list-unstyled">
                                                        <li>
                                                            <div class="entry-comments-item">
                                                                <img src="~/assets/img/midtier.png" class="entry-comments-avatar" alt="">
                                                                <div class="entry-comments-body">
                                                                    <span class="entry-comments-author">Middle Tier:</span>
                                                                    <p class="mb-10">
                                                                        <button class="btn btn-outline-dark m-2"><Strong>C#</Strong></button>
                                                                        <button class="btn btn-outline-dark m-2"><Strong>.NET Core MVC</Strong></button>
                                                                        <button class="btn btn-outline-dark m-2"><Strong>LINQ</Strong></button>
                                                                        <button class="btn btn-outline-dark m-2"><Strong>EF</Strong></button>
                                                                        <button class="btn btn-outline-dark m-2"><Strong>Razor Pages</Strong></button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="entry-comments-item">
                                                        <img src="~/assets/img/backend.png" class="entry-comments-avatar" alt="">
                                                        <div class="entry-comments-body">
                                                            <span class="entry-comments-author">Back End:</span>
                                                            <p class="mb-10">
                                                                <button class="btn btn-outline-dark m-2"><Strong>ADO.NET</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>SQL</Strong></button>
                                                                <button class="btn btn-outline-dark m-2"><Strong>SQL Server</Strong></button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <blockquote>TECHNICAL TRAINING</blockquote>
                                        <div class="entry-comments">
                                            <ul class="entry-comments-list list-unstyled">
                                                <li>
                                                    <div class="entry-comments-item">
                                                        <img src="~/assets/img/training.png" class="entry-comments-avatar" alt="">
                                                        <div class="entry-comments-body">
                                                            <span class="entry-comments-author">Centriq: Full Stack Coding Program</span>
                                                            <p class="mb-10">
                                                                .NET Core MVC Framework
                                                                || Troubleshooting & Debugging
                                                                || Source Control
                                                                || Agile/Scrum
                                                                Website Deployment
                                                                || Pair Programming
                                                                || Code Review
                                                            </p>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div> <!-- DIV FOR SPACE -->


                                <div class="col-lg-6" id="contactcenter">
                                    <div class="contact-contact">
                                        <h2 class="mb-30">GET IN TOUCH</h2>
                                        <ul class="contact-details">
                                            <li><span>19708 W 197 St, 66083</span></li>
                                            <li><span>SpringHill, Kansas</span></li>
                                            <li><span>913-530-6085</span></li>
                                            <li><span>sean.m.rice88@gmail.com</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="contact" class="contactpadding">
                                    <div class="container">
                                        <div class="contact-block1">
                                            <div class="row">


                                                <div class="col-lg-6">
                                                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                                        <div class="row gy-3">

                                                            <div class="col-lg-6">
                                                                <div class="form-group contact-block1">
                                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12">
                                                                <div class="loading">Loading</div>
                                                                <div class="error-message"></div>
                                                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                                            </div>

                                                            <div class="mt-0">
                                                                <input type="submit" class="btn btn-outline-dark m-2" value="Send message">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Contact Section -->
                            </div>

</main><!-- End #main -->
